.DS_Store

# fastMRI data (e.g., h5 files, raw tar.gz, reconstructions)
*.h5
*.tar.gz
reconstructions/
fastmri_data/
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

__pycache__
.vscode
experiments
logs
.idea
*.png
*.cfl
*.hdr
recon-workspace.code-workspace
datasets/
logs/
add_all_headers.py
add_header.py
*fair_cluster*
fastmri_dirs.yaml
